manifest {
    name            = 'ochkalova/ena-submission-prepare-nf'
    author          = "@ochkalova"
    homePage        = 'https://github.com/ochkalova/ena-submission-prepare-nf'
    description     = """Pipeline for preparing ENA submission files for metagenomic data."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '0.1'
    doi             = ''
}

params {
    input = null
    output_path = null
}

profiles {

    codon_slurm {
            includeConfig "configs/codon_slurm.config"
        }
    
    test_local { 
            includeConfig 'configs/test_local.config'
        }
}

includeConfig 'configs/modules.config'
includeConfig 'configs/base.config'