/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SRATOOLS_FASTERQDUMP {
        ext.prefix = { "$sra.baseName" }
        tag = { "$sra" }
    }

    withName: BBMAP_ALIGN {
        ext.args = "covstats=coverage.txt"
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
        publishDir = [
            path: "${params.output_path}",
            pattern: "coverage.txt",
            saveAs: { "${meta.id}_coverage.txt" },
            mode: 'copy'
        ]
    }

    withName: CONCATENATE_FORWARD {
        ext.prefix = { "${meta.id}_1.fastq.gz" }
    }

    withName: CONCATENATE_REVERSE {
        ext.prefix = { "${meta.id}_2.fastq.gz" }
    }
}
